<ion-content class="graphics-container">
  <ion-grid>
    <ion-row style="margin-top: 20px;">
      <ion-col class="ion-text-center">
        <h1 class="graphics-title">Tus ingresos</h1>
      </ion-col>
    </ion-row>
    <ion-row style="position: absolute;width: 95%;top:27.5%">
      <ion-col class="ion-text-center">
        <h1 class="graphics-title" style="color:black;font-size: 20px;">Tus ingresos</h1>
      </ion-col>
    </ion-row>
    <ion-row style="position: absolute;width: 95%;top:35%">
      <ion-col>
        <ion-card class="no-margin" style="border-radius: 7px;background-color: white;">
          <ion-grid class="no-margin no-padding">
            <ion-row>
              <ion-col>
                <div style="display: block;">
                  <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                  </canvas>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="position: absolute;width: 95%;bottom:30%">
      <ion-col>
        <ion-card class="no-margin" style="border-radius: 7px;background-color: white;">
          <ion-grid class="no-margin no-padding">
            <ion-row>
              <ion-col>
                <h1 class="graphics-title" style="color:black;font-size: 12px;">Ganancia total: {{this.user?.income | incomeTotalProfit | currency:'CLP'}}</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="position: absolute;width: 95%;bottom:20%">
      <ion-col>
        <ion-card class="no-margin" style="border-radius: 7px;background-color: white;">
          <ion-grid class="no-margin no-padding">
            <ion-row>
              <ion-col>
                <h1 class="graphics-title" style="color:black;font-size: 12px;">Promedio de ingresos en los ultimos 3 meses: {{this.user?.income | incomeAverage | currency:'CLP'}}</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
