.graphics-container {
    --background: url('../../../assets/backgrounds/wallPaper.png') no-repeat center center / cover;
    .graphics-title {
        font-size: 30px;
        font-weight: bold;
        color:white;
        margin-top:10px;
    }
}