.schedule-container {
    --background: url('../../../assets/backgrounds/wallPaper.png') no-repeat center center / cover;
    .schedule-title {
        font-size: 24px;
        font-weight: bold;
        color:white;
        margin-top:10px;
    }
}