<ion-content class="schedule-container">
  <ion-grid>
    <ion-row style="margin-top: 20px;">
      <ion-col class="ion-text-center">
        <h1 class="schedule-title">Agenda</h1>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;">
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding: 0px;">
        <ion-calendar #calendar *ngIf="schedulerDone" [(ngModel)]="date"
              (change)="onChange($event)"
              [type]="type"
              [options]="calendarOptions"
              [format]="'YYYY-MM-DD'">
        </ion-calendar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="daySelected && daySelected.length < 0">
      <ion-col class="ion-text-center">
        <h1 class="schedule-title" style="color:gray;margin-bottom: 0px;">Solicitudes del dia</h1>
        <h1 class="schedule-title" style="color:gray;margin-top: 0px;">{{daySelected}}</h1>
        
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 25px;" *ngFor="let request of requestsByDay">
      <ion-col>
        <ion-card class="no-margin" style="border-radius: 7px">
          <ion-grid class="no-margin no-padding" style="background-color: white;color:white">
            <ion-row [ngSwitch]="request?.status">
              <ion-col *ngSwitchCase="0" style="padding-top: 0px;padding-bottom: 0px;background-color:#FF4961;">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="1" style="padding-top: 0px;padding-bottom: 0px;background-color:black">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="2" style="padding-top: 0px;padding-bottom: 0px;background-color:#2FDF75">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="3" style="padding-top: 0px;padding-bottom: 0px;background-color:#d66000">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="5" style="padding-top: 0px;padding-bottom: 0px;background-color:#d66000">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="4" style="padding-top: 0px;padding-bottom: 0px;background-color:#428CFF">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="request?.status === requestStatusEnum.EnCurso">
              <ion-col style="color:black">
                <ion-icon name="home"></ion-icon>
                <span>&nbsp;Donde recoger la carga: {{request?.dirFrom}}</span>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="request?.status === requestStatusEnum.EnCursoFinal">
              <ion-col style="color:black">
                <ion-icon name="navigate" style="color:red;"></ion-icon>
                <span>&nbsp;Destino: {{request?.dirTo}}</span>
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="calendar"></ion-icon>
                Fecha de Inicio: {{request?.dateFrom | date:'mediumDate':'0':'es-CL'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="calendar"></ion-icon>
                Fecha de Termino: {{request?.dateTo | date:'mediumDate':'0':'es-CL'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="time"></ion-icon>
                Hora de Inicio: {{request?.dateFrom | date:'mediumTime':'-180'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="time"></ion-icon>
                Hora de Termino: {{request?.dateTo | date:'mediumTime':'-180'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="cash" style="color:green"></ion-icon>
                Ingreso por el viaje: {{request?.value | currency:'CLP'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="file-tray-stacked"></ion-icon>
                Carga a transportar: {{request?.load | titlecase}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
