.profile-container {
    --background: url('../../../assets/backgrounds/wallPaper.png') no-repeat center center / cover;
    ion-button::part(native) {
        padding: 0px;
    }
    .avatar-button-container {
        --background:white;
        --border-radius:50%;
        height: 100px;
        width:100px;
        --background-activated:#efefef;
        color:black;
        font-size:12px;
        .hasPhoto {
            height: 100%;
            width: 100%;
            background-size: cover;
        }
    }
    ion-card {
        margin: 0px;
        margin-bottom: 15px;
        background-color: #efefef;
        .user-title {
            font-size: 20px;
            font-weight: bold;
            text-transform: capitalize;
        }
        .user-names {
            font-size: 16px;
            font-weight: bold;
            text-transform: capitalize;
        }
        .user-lastnames .user-dni {
            font-size: 12px;
            font-weight: bold;
            text-transform: capitalize;
        }
        .menuSeparator {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #d9d9d9;
        }
        .edit-button{
            height: 25px;
            width: 30px;
            margin: 0px;
            padding: 0px;
            --background:transparent;
            --background-activated:#d9d9d9;
            color:black;
        }
    }
}