<ion-content class="profile-container">
  <ion-grid>
    <ion-row style="margin-top: 10px;">
      <ion-col></ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;">
        <ion-col class="ion-text-center">
          <ion-button class="avatar-button-container" (click)="newPhoto()">
            <div class="image-container"
            [ngClass]="user?.avatar ? 'hasPhoto': ''"
            [ngStyle]="{'background-image': 'url(' + user?.avatar + ')'}">

            </div>
            <div *ngIf="!user?.avatar">
              <span>Subir foto</span>
              <br/>
              <span>de perfil</span>
            </div>
          </ion-button>
        </ion-col>
    </ion-row>
    
    <ion-row style="margin-top: 10px;">
      <ion-col>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-label class="user-title">
                  Datos personales
                </ion-label>
              </ion-col>
              <!--<ion-col size="1" style="padding:0px">
                <ion-button class="edit-button">
                  <ion-icon class="user-title" name="create-outline"></ion-icon>
                </ion-button>
              </ion-col>--> 
            </ion-row>
            <div class="menuSeparator"></div>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-label class="user-names">
                  {{user?.names}}
                </ion-label>
                <br>
                <ion-label class="user-lastnames">
                  {{user?.lastnames}}
                </ion-label>
                <br>
                <ion-label class="user-dni">
                  {{user?.dni}}
                </ion-label><br>
                <!-- <ion-label class="user-dni">
                  {{user?.rating | rating}} <ion-icon name="star"></ion-icon>
                </ion-label> -->
              </ion-col>
            </ion-row>
            <div class="menuSeparator"></div>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-label class="user-lastnames">
                  {{user?.email}}
                </ion-label>
                <br>
                <ion-label class="user-lastnames">
                  {{user?.phone}}
                </ion-label>
                <br>
                <ion-label class="user-lastnames">
                  Usuario tipo: {{user.isHaulier === true ? 'Transportista':'Cliente'}}
                </ion-label>
              </ion-col>              
            </ion-row>
            <div class="menuSeparator"></div>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-label class="user-lastnames">
                  Banco: {{user.nombreBanco}}
                </ion-label>
                <br>
                <ion-label class="user-lastnames">
                  Cuenta: {{user.tipoCuenta | bankAccountType}}
                </ion-label>
                <br>
                <ion-label class="user-lastnames">
                  Numero Cuenta: {{user.cuentaBanco}}
                </ion-label>
              </ion-col>            
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user?.isHaulier">
      <ion-col>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-label class="user-title">
                  Balance actual
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-label class="user-lastnames">
                  Total generado: {{user?.income | incomeTotalProfit | currency:'CLP'}}
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" style="--background: #FF4961;--background-activated:#c23648;" (click)="closeAccount()">{{'Cerrar sesión' | uppercase}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
