<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar-container">
    <ion-tab-button tab="graphics" *ngIf="user?.isHaulier">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Graficos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" *ngIf="!user?.isHaulier">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>