<ion-content class="started-container">
  <ion-grid>
    <ion-row class="ion-text-center" style="margin-top: 25px;">
      <ion-col>
        <span style="color:white;font-size: 36px;font-weight: bold;">FastGo</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row  style="margin-top: 25px;">
      <ion-col>
        <ion-card class="no-margin" style="border-radius: 7px">
          <ion-grid class="no-margin no-padding" style="background-color: white;color:white">
            <ion-row>
              <ion-col style="padding-top: 0px;padding-bottom: 0px;background-color:#d66000">
                <span>{{request?.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request?.id | uppercase}}</span>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="request?.status === requestStatusEnum.EnCurso">
              <ion-col style="color:black">
                <ion-icon name="home"></ion-icon>
                <span>&nbsp;Donde recoger la carga: {{request?.dirFrom}}</span>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="request?.status === requestStatusEnum.EnCursoFinal">
              <ion-col style="color:black">
                <ion-icon name="navigate" style="color:red;"></ion-icon>
                <span>&nbsp;Destino: {{request?.dirTo}}</span>
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="calendar"></ion-icon>
                Fecha de Inicio: {{request?.dateFrom | date:'mediumDate':'0':'es-CL'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="calendar"></ion-icon>
                Fecha de Termino: {{request?.dateTo | date:'mediumDate':'0':'es-CL'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="time"></ion-icon>
                Hora de Inicio: {{request?.dateFrom | date:'mediumTime':'-180'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="time"></ion-icon>
                Hora de Termino: {{request?.dateTo | date:'mediumTime':'-180'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="cash" style="color:green"></ion-icon>
                Ingreso por el viaje: {{request?.value | currency:'CLP'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="file-tray-stacked"></ion-icon>
                Carga a transportar: {{request?.load | titlecase}}
              </ion-col>
            </ion-row>
            <ng-container *ngIf="!user?.isHaulier">
              <ion-row style="color:black">
                <ion-col>
                  <ion-icon name="file-tray-stacked"></ion-icon>
                  Transportista: {{haulier?.names + ' '+ haulier?.lastnames | uppercase}}
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  <ion-icon name="file-tray-stacked"></ion-icon>
                  Fono Transportista: {{haulier?.phone}}
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  <ion-button style="--background:#058136;--background-activated:#025c26;color:white" expand="full" (click)="startCall(haulier?.phone)">Llamar Transportista</ion-button>
                </ion-col>
              </ion-row>
            </ng-container>
            <ng-container *ngIf="user?.isHaulier">
              <ion-row style="color:black">
                <ion-col>
                  <ion-icon name="file-tray-stacked"></ion-icon>
                  Cliente: {{client?.names + ' '+ client?.lastnames | uppercase}}
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  <ion-icon name="file-tray-stacked"></ion-icon>
                  Fono Cliente: {{client?.phone}}
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  <ion-button style="--background:#058136;--background-activated:#025c26;color:white" expand="full" (click)="startCall(client?.phone)">Llamar Cliente</ion-button>
                </ion-col>
              </ion-row>
            </ng-container>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="user?.isHaulier">
      <ion-row>
        <ion-col>
          <agm-map [latitude]="location?.lat" [longitude]="location?.lng" [zoom]="8">
            <agm-direction [origin]="mapStartDir[0]" [destination]="mapStartDir[1]" *ngIf="mapStartDir.length > 0"></agm-direction>
          </agm-map>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="request?.status === requestStatusEnum.EnCursoFinal">
          <ion-card class="no-margin" style="border-radius: 7px">
            <ion-grid class="no-margin no-padding" style="background-color: white;color:black">
              <ion-row>
                <ion-col>
                  Ingresa el monto que recibiste:<br>
                  <ion-input type="number" [(ngModel)]="income" placeholder="Monto..."></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 20px">
        <ion-col *ngIf="request?.status === requestStatusEnum.EnCursoFinal">
          <ion-button style="--background:#058136;--background-activated:#025c26;color:white" expand="full" (click)="endRequest()">Finalizar Solicitud</ion-button>
        </ion-col>
        <ion-col *ngIf="request?.status === requestStatusEnum.EnCurso">
          <ion-button style="--background:#058136;--background-activated:#025c26;color:white" expand="full" (click)="recogerCarga()">Recoger Carga</ion-button>
        </ion-col>
      </ion-row>  
    </ng-container>
    
  </ion-grid>
</ion-content>
