<ion-content class="login-container">
  <ion-grid class="grid-container">
    <ion-row>
      <ion-col class="ion-text-center">
        <h1 class="login-title">FastGo!</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1 class="login-subtitle">
          Login
        </h1>
      </ion-col>
    </ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-grid class="card-container">
            <ion-row>
              <ion-col>
                <ion-input placeholder="Correo electrónico" class="input-login" [(ngModel)]="email" (ionChange)="emailChange($event)"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input placeholder="Contraseña" class="input-login" [(ngModel)]="password" type="password"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="full" class="login-session-button" (click)="logIn()">
                  <h1 class="button-inner-text">Iniciar Sesión</h1>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>    
      </ion-col>    
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row (click)="registerPage()">
      <ion-col class="ion-text-left register-container">
        <ion-text>
          <h1 class="register-text">Crea</h1>
          <h1 class="register-text">una cuenta</h1>
          <h1 class="register-text">ahora!</h1>
        </ion-text>
      </ion-col>
      <ion-col size="3" class="icon-container"><ion-icon name="arrow-forward-outline" class="register-icon ion-align-self-middle"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>