.login-container {
    --background: url('../../../assets/backgrounds/bg.jpg') no-repeat center center / cover;
    .grid-container{
        padding-top: 25px;
        .login-title {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 0px;
            color:white
        }
        .login-subtitle {
            margin: 0px;
            text-transform: uppercase;
            color:white;
        }
        .card-container{
            padding: 10px;
            .input-login {
                padding-left: 10px!important;
            }
            .login-session-button {
                --background: rgb(255,95,109);
                --background: linear-gradient(90deg, rgba(255,95,109,1) 0%, rgba(255,195,113,1) 100%);
                --background-activated: white;
                --background-activated-opacity: 25%;
                .button-inner-text{
                    margin: 0px;
                }
            }
            
        }
        .register-container{
            padding-left: 50px;
            .register-text{
                font-size: 32px;
                margin: 0px;
                color:white;
            }
            
        }
        .icon-container{
            display: flex;
            align-items: center;
            .register-icon{
                font-size: 36px;
                color:white
            }
        }
        
    }
}


ion-card {
    background-color: #FFF;
    opacity: 100%;
    margin-bottom: 0px;
    box-shadow: none;
}
ion-input {
    background-color: #e4e4e4;
}