<ion-content class="register-container">
    <ion-slides #slides pager>
      <ion-slide>
        <form #form="ngForm" (ngSubmit)="nextSlide(form)" class="form-register">
        <ion-grid class="grid-container">
          <ion-row class="title-container" style="margin-top: 0px;" (click)="backSlides()">
            <ion-col size="2" class="ion-text-right">
              <ion-icon class="title-icon" name="arrow-back-outline" style="padding-top: 5px;color:white"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-left">
              <h1 class="title-register" style="margin-left: 0px;">&nbsp;Volver</h1>
            </ion-col>
          </ion-row>
          <ion-row class="title-container">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Nombres</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #name="ngModel"
                required
                ngModel 
                placeholder="" 
                class=""
                name="Name"
                id="Name"
                [(ngModel)]="user.names"></ion-input>
                <ion-icon *ngIf="user.names" name="close" (click)="user.names = ''"></ion-icon>
                <ion-icon [hidden]="!form.submitted || name.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Apellidos</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #lastnames="ngModel"
                required
                ngModel 
                placeholder="" 
                class=""
                name="Lastname"
                [(ngModel)]="user.lastnames"></ion-input>
                <ion-icon *ngIf="user.lastnames" name="close" (click)="user.lastnames = ''"></ion-icon>
                <ion-icon [hidden]="!form.submitted || lastnames.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Telefono</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input value="+569-" disabled style="max-width: 45px;">
                  
                </ion-input>
                <ion-input #phone="ngModel"
                required
                ngModel 
                placeholder="" 
                class=""
                name="Phone"
                [(ngModel)]="user.phone"
                pattern="[0-9]{8}"
                type="number"></ion-input>
                <ion-icon *ngIf="user.phone" name="close" (click)="user.phone = ''"></ion-icon>
                <ion-icon [hidden]="!form.submitted || phone.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="next-container" type="submit">
            <ion-col class="ion-text-right register-container">
              <button class="button-nextpage">
                <ion-text>
                  <h1 class="next-register">Siguiente</h1>
                </ion-text>
              </button>
            </ion-col>
            <ion-col size="4" class="icon-container">
              <button class="button-nextpage">
                <ion-icon name="arrow-forward-outline" class="next-icon ion-align-self-middle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        </form>
      </ion-slide>
      <ion-slide>
        <form #form2="ngForm" (ngSubmit)="finishRegister(form2)" class="form-register">
        <ion-grid class="grid-container less-padding">
          <ion-row class="title-container" style="margin-top: 0px;" (click)="backSlides()">
            <ion-col size="2" class="ion-text-right">
              <ion-icon class="title-icon" name="arrow-back-outline" style="padding-top: 5px;color:white"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-left">
              <h1 class="title-register" style="margin-left: 0px;">&nbsp;Volver</h1>
            </ion-col>
          </ion-row>
          <ion-row class="title-container-2">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Correo</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #email="ngModel"
                required
                pattern='(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))'
                ngModel 
                placeholder="" 
                class=""
                name="Email"
                [(ngModel)]="user.email"
                (ionChange)="emailChange()"></ion-input>
                <ion-icon *ngIf="user.email" name="close" (click)="user.email = ''"></ion-icon>
                <ion-icon [hidden]="!form2.submitted || email.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container-2">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Contraseña</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #password="ngModel"
                required
                ngModel 
                placeholder="" 
                class=""
                name="Password"
                type="password"
                [(ngModel)]="user.password"
                minlength="5"></ion-input>
                <ion-icon *ngIf="user.password" name="close" (click)="user.password = ''"></ion-icon>
                <ion-icon [hidden]="!form2.submitted || password.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container-2">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Confirmar contraseña</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #confirmpassword="ngModel"
                required
                ngModel 
                placeholder="" 
                class=""
                name="Confirmpassword"
                type="password"
                [(ngModel)]="user.confirmPassword"
                minlength="5"></ion-input>
                <ion-icon *ngIf="user.confirmPassword" name="close" (click)="user.confirmPassword = ''"></ion-icon>
                <ion-icon [hidden]="!form2.submitted || confirmpassword.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container-2">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Rut</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #dni="ngModel"
                required
                ngModel
                class="Rut sin puntos"
                name="Dni"
                [(ngModel)]="user.dni"
                (change)="inputRutChange($event)"
                minlength="9"></ion-input>
                <ion-icon *ngIf="user.dni" name="close" (click)="user.dni = ''"></ion-icon>
                <ion-icon [hidden]="!form2.submitted || dni.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container-2">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Nombre del Banco</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #nombreBanco="ngModel"
                required
                ngModel 
                placeholder="" 
                class=""
                name="NombreBanco"
                [(ngModel)]="user.nombreBanco"></ion-input>
                <ion-icon *ngIf="user.nombreBanco" name="close" (click)="user.nombreBanco = ''"></ion-icon>
                <ion-icon [hidden]="!form2.submitted || nombreBanco.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container-2">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Tipo de Cuenta</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-select #tipoCuenta="ngModel"
                required
                ngModel 
                placeholder="" 
                class=""
                name="TipoCuenta"
                [(ngModel)]="user.tipoCuenta" style="width: 100%;">
                  <ion-select-option value="1">Cuenta Corriente</ion-select-option>
                  <ion-select-option value="2">Cuenta Vista/Rut</ion-select-option>
                  <ion-select-option value="3">Chequera electronica</ion-select-option>
                </ion-select>

                <ion-icon *ngIf="user.tipoCuenta" name="close" (click)="user.tipoCuenta = ''"></ion-icon>
                <ion-icon [hidden]="!form2.submitted || tipoCuenta.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container-2">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Cuenta Bancaria</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #cuentaBanco="ngModel"
                required
                ngModel 
                placeholder="" 
                class=""
                name="CuentaBanco"
                [(ngModel)]="user.cuentaBanco"
                type="number"></ion-input>
                <ion-icon *ngIf="user.cuentaBanco" name="close" (click)="user.cuentaBanco = ''"></ion-icon>
                <ion-icon [hidden]="!form2.submitted || cuentaBanco.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="title-container-2">
            <ion-col class="ion-text-left">
              <h1 class="title-register">Correo Cuenta Bancaria</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-item class="form-group input-register">
                <ion-input #correoBanco="ngModel"
                required
                ngModel
                pattern='(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))'
                placeholder="" 
                class=""
                name="CorreoBanco"
                [(ngModel)]="user.correoBanco"
                (ionChange)="correoBancoChange()"></ion-input>
                <ion-icon *ngIf="user.correoBanco" name="close" (click)="user.correoBanco = ''"></ion-icon>
                <ion-icon [hidden]="!form2.submitted || correoBanco.valid" class="error-icon" name="alert-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left checkbox-container form-group" size="3">
              <ion-toggle #haulier="ngModel" required ngModel name="Haulier" color="primary" [(ngModel)]="user.isHaulier"></ion-toggle>
            </ion-col>
            <ion-col class="checkbox-container ion-text-left">
              <h1 class="title-register no-margin" style="color: white;">{{user.isHaulier == true ? 'Transportista':'Cliente'}}</h1>
            </ion-col>
          </ion-row>
          <ion-row class="next-container less-margin" type="submit">
            <ion-col class="ion-text-right register-container">
              <button class="button-nextpage">
                <ion-text>
                  <h1 class="next-register">Registrarse</h1>
                </ion-text>
              </button>
            </ion-col>
            <ion-col size="4" class="icon-container">
              <button class="button-nextpage">
                <ion-icon name="arrow-forward-outline" class="next-icon ion-align-self-middle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        </form>
      </ion-slide>
    </ion-slides>
</ion-content>
