.register-container {
    --background: url('../../../assets/backgrounds/bg.jpg') no-repeat center center / cover;
    .form-register {
        width: 100%;
    }
    .grid-container{
        padding-top: 17.5%;
        .input-register{
            padding-left: 10px!important;
            color: darkslategray;
            --border-radius: 7.5px;
            --background: #e4e4e4;
            --border-color: #e4e4e4;
            font-size: 16px;
            .error-icon{
                color:#FF5F6D;
            }
        }
        .title-container {
            margin-top: 7%;
            .title-register{
                color: white;
                font-size: 30px;
                margin: 0px;
                margin-left: 10px;
            }
            .title-icon {
                font-size: 30px!important;
                margin-top: 0px !important;
            }
        }
        .title-container-2 {
            margin-top: 3.5%;
            .title-register{
                color: white;
                font-size: 18px;
                margin: 0px;
                margin-left: 10px;
            }
        }
        .next-container {
            margin-top: 15%;
            .button-nextpage {
                background:transparent;
            }
            .next-register{
                color: white;
                font-size: 30px;
                margin: 0px;
                margin-left: 10px;
            }
            .icon-container{
                display: flex;
                align-items: center;
                .next-icon{
                    font-size: 36px;
                    color:white;
                }
            }
        }
        .less-margin {
            margin-top: 7.5%;
        }
        .checkbox-container {
            padding: 15px;
            .checkbox-haulier{
                --border-radius: 7.5px;
                --background: #e4e4e4;
            }
        }
        
    }
    .less-padding {
        padding-top: 12.5%;
    }
}
ion-slides {
    ::ng-deep {
        div.swiper-pagination { 
            top:20px; bottom:inherit;
            .swiper-pagination-bullet {
                background-color: white;
                opacity: unset;
            }
            .swiper-pagination-bullet-active{
                background-color: #FF5F6D;
            }
        }
    }
}

ion-input {
    background-color: #e4e4e4;
}