.create-request-container {
    --background: url('../../../assets/backgrounds/wallPaper.png') no-repeat center center / cover;
    agm-map {
        height: 300px;
    }
    .agm-input-street {
        width: 100%;
        color:white;
        margin-bottom: 10px;
    }
}