<ion-content class="create-request-container">
  <ion-grid>
    <ion-row class="ion-text-left"style="margin-top: 10px;">
      <ion-col (click)="askSaveOrNotBorrador()">
        <ion-icon class="dashboard-title" name="arrow-back-outline" style="padding-top: 5px;font-size: 22px;color:white"></ion-icon>
        <span style="color:white;font-size: 26px;">Volver</span>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:5px;">
        <ion-col class="ion-text-center">
          <h1 class="dashboard-title" style="color:white">Nueva solicitud</h1>
        </ion-col>
    </ion-row>
    <form #form='ngForm' (ngSubmit)="createNewRequest(form)">
      <ion-row style="margin-top: 20px;">
        <ion-col>
          <ion-card style="background:white">
            <ion-grid>
              <ion-row style="color:black">
                  <ion-col>
                    Fecha de inicio: <br>
                    <ion-datetime max="2050-12-31" placeholder="Selecciona una fecha" style="padding-left: 0px;"
                    id="startDate" name="startDate" class="form-control" max="2024"
                    required ngModel #startDate="ngModel" [(ngModel)]="request.dateFrom" (ionChange)="dateFromChange($event)"></ion-datetime>
                  </ion-col>
              </ion-row>
              <ion-row [hidden]="!form.submitted || startDate.valid">
                <ion-col>
                  <span style="color:red">Por favor, selecciona una fecha de inicio</span>
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                  <ion-col>
                    Fecha de termino: <br>
                    <ion-datetime max="2050-12-31"placeholder="Selecciona una fecha" style="padding-left: 0px;"
                    id="endDate" name="endDate" class="form-control" min="{{request?.dateFrom ? request?.dateFrom?.split('T')[0]:'2021'}}"
                    required ngModel #endDate="ngModel" [(ngModel)]="request.dateTo"></ion-datetime>
                  </ion-col>
              </ion-row>
              <ion-row [hidden]="!form.submitted || endDate.valid">
                <ion-col>
                  <span style="color:red">Por favor, selecciona una fecha de termino</span>
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  Hora de inicio: <br>
                  <ion-datetime displayFormat="HH:mm" max="2050-12-31" placeholder="Selecciona una fecha" style="padding-left: 0px;"
                  id="startHour" name="startHour" class="form-control"
                  required ngModel #startHour="ngModel" [(ngModel)]="request.hourFrom" (ionChange)="hourFromChange($event)"></ion-datetime>
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!form.submitted || startHour.valid">
                <ion-col>
                  <span style="color:red">Por favor, selecciona una hora de inicio</span>
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                  <ion-col>
                    Hora de termino: <br>
                    <ion-datetime displayFormat="HH:mm" max="2050-12-31"placeholder="Selecciona una fecha" style="padding-left: 0px;"
                    id="endHour" name="endHour" class="form-control" min="{{request?.hourFrom ? request?.hourFrom?.split('T')[1]:'00:00'}}"
                    required ngModel #endHour="ngModel" [(ngModel)]="request.hourTo"></ion-datetime>
                  </ion-col>
              </ion-row>
              <ion-row [hidden]="!form.submitted || endHour.valid">
                <ion-col>
                  <span style="color:red">Por favor, selecciona una hora de termino</span>
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  Ingresa el monto de tu solicitud: <br>
                  <ion-input placeholder="Valor"
                  id="requestValue" name="requestValue" class="form-control"
                  required ngModel #requestValue="ngModel" [(ngModel)]="request.value" type="number"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!form.submitted || requestValue.valid">
                <ion-col>
                  <span style="color:red">Por favor, escribe un monto</span>
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  Carga a transportar: <br>
                  <ion-input placeholder="Carga"
                  id="loadName" name="loadName" class="form-control"
                  required ngModel #loadName="ngModel" [(ngModel)]="request.load"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!form.submitted || loadName.valid">
                <ion-col>
                  <span style="color:red">Por favor, escribe cual es tu carga a transportar</span>
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  Descripcion de tu solicitud: <br>
                  <ion-textarea placeholder="Deseo transportar..."
                  id="requestDescription" name="requestDescription" class="form-control"
                  required ngModel #requestDescription="ngModel" [(ngModel)]="request.description"></ion-textarea>
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!form.submitted || requestDescription.valid">
                <ion-col>
                  <span style="color:red">Por favor, describe tu carga a transportar</span>
                </ion-col>
              </ion-row>
              <ion-row style="color:black">
                <ion-col>
                  Direcciones<br>
                  <input class="agm-input-street" 
                  ngx-google-places-autocomplete 
                  [options]='options' #placesRef="ngx-places" 
                  (onAddressChange)="handleAddressChange($event)"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="direcctionInput" style="color:black;"/>

                  <div *ngFor="let dir of directions;let i = index" style="color:black;line-height: 0.9;margin-bottom: 10px;">
                    <span *ngIf="i === 0">Direccion Inicial:</span><br>
                    <span *ngIf="i === 1">Direccion Final:</span><br>
                    <span style="color: #4b4a4a">- {{dir.dir}}</span>
                    <ion-icon name="close" (click)="confirmDelete(dir)"></ion-icon>
                  </div>

                  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
                    <agm-marker *ngIf="directions.length === 1"[latitude]="lat" [longitude]="lng"></agm-marker>
                    <agm-direction *ngIf="directions.length === 2" [origin]="directions[0].location" [destination]="directions[1].location"></agm-direction>
                  </agm-map>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: 20px">
                <ion-col>
                  <ion-button style="--background:#058136;--background-activated:#025c26;" expand="full" type="submit">Crear solicitud</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </form>    
  </ion-grid>
</ion-content>
