.dashboard-container {
    --background: url('../../../assets/backgrounds/wallPaper.png') no-repeat center center / cover;
    .dashboard-title {
        font-size: 24px;
        font-weight: bold;
        color:white;
        margin:0px;
    }
    .disponible-button {
        --background: transparent;
        --border-color: #5DBB4E;
        --border-radius: 25px
    }
    .disponible-text {
        font-size: 14px;
        color: #5DBB4E;
    }
}