<ion-content class="dashboard-container">
  <ion-grid>
    <ion-row style="margin-top: 10px;">
      <ion-col></ion-col>
    </ion-row>
    <ion-row style="margin-top:5px;">
        <ion-col class="ion-text-center" *ngIf="!user?.isHaulier" (click)="createNewRequest()">
          <span class="dashboard-title">Crear solicitudes</span>
          <ion-icon name="arrow-forward-outline" class="register-icon ion-align-self-middle" style="color: white;"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-center" *ngIf="user?.isHaulier">
          <span class="dashboard-title">Adjudicate una solicitud!</span>
        </ion-col>
    </ion-row>
    <ion-row style="margin-top: 20px;">
      <ion-col class="ion-text-center">
        
        <ion-chip outline style="background-color: #2FDF75" (click)="filterRequestByStatus('Disponible')">
          <ion-label style="color: white;">Disponible</ion-label>
        </ion-chip>
        
        <ion-chip outline style="background-color: #d66000;" (click)="filterRequestByStatus('EnCurso')">
          <ion-label style="color: white;">En Curso</ion-label>
        </ion-chip> 
        
        <!-- <ion-chip outline style="border-color: #FF4961;">
          <ion-label color="danger">Cancelada</ion-label>
        </ion-chip> -->
        
        <ion-chip outline style="background-color:#428CFF" (click)="filterRequestByStatus('Finalizadas')">
          <ion-label style="color: white;">Finalizadas</ion-label>
        </ion-chip>   
        
        <!-- <ion-chip outline style="color:black">
          <ion-label color="black">Borrador</ion-label>
        </ion-chip> -->

        <ion-chip outline style="background-color:rgb(241, 114, 199);color:rgb(241, 114, 199)" (click)="filterRequestByStatus('All')">
          <ion-label style="color: white;">Todas</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row *ngFor="let request of requests">
      <ion-col>
        <ion-card class="no-margin" style="border-radius: 7px" (click)="touchedRequest(request)">
          <ion-grid class="no-margin no-padding" style="background-color: white;color:white">
            <ion-row [ngSwitch]="request.status">
              <ion-col *ngSwitchCase="0" style="padding-top: 0px;padding-bottom: 0px;background-color:#FF4961;">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="1" style="padding-top: 0px;padding-bottom: 0px;background-color:black">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="2" style="padding-top: 0px;padding-bottom: 0px;background-color:#2FDF75">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="3" style="padding-top: 0px;padding-bottom: 0px;background-color:#d66000">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="5" style="padding-top: 0px;padding-bottom: 0px;background-color:#d66000">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
              <ion-col *ngSwitchCase="4" style="padding-top: 0px;padding-bottom: 0px;background-color:#428CFF">
                <span>{{request.status | requestPipe}}</span>
                <span>&nbsp;-&nbsp;{{request.id | uppercase}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="color:black">
                <ion-icon name="home"></ion-icon>
                <span>&nbsp;Direccion Inicial: {{request.dirFrom}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="color:black">
                <ion-icon name="navigate" style="color:red;"></ion-icon>
                <span>&nbsp;Direccion Final: {{request.dirTo}}</span>
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="calendar"></ion-icon>
                Fecha de Inicio: {{request.dateFrom | date:'mediumDate':'0':'es-CL'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="calendar"></ion-icon>
                Fecha de Termino: {{request.dateTo | date:'mediumDate':'0':'es-CL'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="time"></ion-icon>
                Hora de Inicio: {{request.dateFrom | date:'mediumTime':'-180'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="time"></ion-icon>
                Hora de Termino: {{request.dateTo | date:'mediumTime':'-180'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="cash" style="color:green"></ion-icon>
                Ingreso: {{request.value | currency:'CLP'}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col>
                <ion-icon name="file-tray-stacked"></ion-icon>
                Carga a transportar: {{request.load | titlecase}}
              </ion-col>
            </ion-row>
            <ion-row style="color:black">
              <ion-col size="12" class="no-padding-bottom">
                <ion-icon name="document-text"></ion-icon>
                Descripcion:
              </ion-col>
              <ion-col style="padding-left: 23px;">
                <span>{{request.description}}</span>
              </ion-col>
            </ion-row>
            <!-- <ng-container *ngIf="request.status >= 3">
              <ion-row style="color:black" *ngIf="user.isHaulier">
                <ion-col>
                  <ion-icon name="file-tray-stacked"></ion-icon>
                  Transportista: {{request.haulier.names + ' '+ request.haulier.lastnames | uppercase}}
                </ion-col>
              </ion-row>
              <ion-row style="color:black" *ngIf="request.haulier">
                <ion-col>
                  <ion-icon name="file-tray-stacked"></ion-icon>
                  Fono Transportista: {{request.haulier.phone}}
                </ion-col>
              </ion-row>
            </ng-container> -->
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
